@charset "utf-8";
/* CSS Document */
.headerBar{ height:40px; background:#f4f5f9; z-index:888; position:relative;}
.tel{ font:13px/40px "Microsoft Yahei"; color:#919191; height:40px; padding-left:24px;background:url(../images/icons/tel.png) no-repeat 0 center;}
.tel span{ letter-spacing:2px;}
.links .color02{ color:#43a1e9; padding:0 2px;}
.links li{ line-height:40px; padding:0 8px; float:right; color:#43a1e9;}
.links li a{ color:#919191;}
.t-share{ height:40px; line-height:40px; width:126px; margin-left:5px;}
.share-ewm-box{ width:30px; float:left; height:40px;}
.share-ewm-box a{display:block; width:20px; height:40px; position:absolute; top:0; left:5px;}
.share-ewm-box .icon-wx{background:url(../images/icons/wx.png) no-repeat center center;}
.share-ewm-box .icon-qq{background:url(../images/icons/qq.png) no-repeat center center;}
.app-ewm{ display:none; width:120px; text-align:center; padding:10px; position:absolute; left:-52px; top:40px; background:#fff; border-top:1px solid #e2e2e2;}
.app-ewm img{ width:118px; height:118px;}
.arrow-i{ width:12px; height:6px;background:url(../images/icons/s-arr2.png) no-repeat center center; display:block; position:absolute; top:-6px; left:62px;}
.t-share .hovers .app-ewm{ display:block;}


.header{ height:90px;z-index:300; position:relative;}
.logo{ width:168px; height:48px; position:absolute; left:0; top:0; margin-top:22px;}
.navs { height:57px; margin-top:28px; float:right; display:inline; margin-right:115px;}
.navs .li{ float:left;margin:0 5px; display:inline; position:relative;}
.navs .li .menu-a{display:block;line-height:40px;text-align:center;border-left:1px solid transparent; border-right:1px solid transparent;padding:0 23px; height:40px; background:#fff;font-size:16px; color:#414141; position:relative;z-index:92;border-radius:4px;}
.navs .arrs{ position:absolute; right:8px; top:19px; z-index: 100;}
.navs .focus .menu-a img{ display:none;}
.navs .focus .menu-a{ border:1px solid #e5e5e5;border-bottom:0;}
.navs .li a:hover{background:#ff8a00; color:#fff}
.navs .li ul{ display:none; margin-top:-2px; position:relative;}
.navs .focus ul{ display:block; border:1px solid #e5e5e5; border-top:0px; background:#fff;}
.navs .li li a{ font-size: 14px; line-height:34px; color: #666; display: block; text-align:center;}
.navs .menu-a-current{background:#ff8a00;color:#fff;display:block;line-height:40px;text-align:center;border-left:1px solid transparent; padding:0 23px; height:40px;font-size:16px; position:relative;border-radius:4px;}
.navs .focus .menu-a{ z-index: 200; background: #fff;}
.navs .focus .menu-a-current{background:#ff8a00;}

.userBox{ width:120px; position:absolute; right:0px; top:20px; z-index:100;}
.userBox .title{ width:120px; height:44px; font-size:16px; margin:0 auto; color:#ff8a00;border:1px solid transparent;border-bottom:0;}
.userBox .title .img-box{ position:absolute; left:12px; top:16px; width:20px; height:24px; background: url(../images/icons/app.png) no-repeat 0 0;}
.userBox .title span { position: absolute; left:36px; top:15px }
.userBox ul{ display:none; border:1px solid #eee; border-top:0; background:#fff; border-radius:2px; position:absolute; right:0; top:44px; width:240px; z-index:100;}
.userBox:hover .title{  border:1px solid #eee;border-bottom:0; background:#fff; border-radius:2px; position:absolute; right:0; top:0; z-index:200 }
.userBox:hover ul{ display: block }
.userBox ul li{ text-align:center; position: relative }
.userBox ul li p{ float:left; width:120px; padding-top:5px;}
.userBox ul li img{ width:110px!important; height:110px!important;}

/*banner*/
.reg-box{ width:274px; height:340px;border-radius:1px; position:absolute; right:8px; top:54px; text-align:center; }
.reg-bg{width:274px; height:340px; background:#000;opacity:0.2;filter:alpha(opacity=20); position:absolute; top:0; left:0; z-index:-1;}
.reg-box h2{ font-size:55px;color:#fff;z-index:10; line-height:55px; padding:70px 0 0;}
.reg-box h2 span{ font-size:20px;}
.reg-box h3{ font-size:20px;color:#fff;z-index:10; line-height:44px; margin-bottom:22px;}
.reg-box .btn-reg{ display:block; width:148px; margin:0 auto; background:#ff8a00; border-radius:5px; height:40px; font:15px/40px "Microsoft Yahei"; color:#fff;}
.reg-box h4{ font-size:12px;color:#fff;z-index:10; line-height:72px;}
.reg-box h4 a{ color:#ff8a00;}

.banner{ overflow:hidden; height:440px; width:100%;}
.fullSlide {width:100%;position:relative;height:440px;}
.fullSlide .bd {margin:0 auto;position:relative;z-index:0;overflow:hidden;}
.fullSlide .bd ul {width:100% !important;}
.fullSlide .bd li {width:100% !important;height:440px;overflow:hidden;text-align:center; background-position:center top; background-repeat:no-repeat;}
.fullSlide .bd li a {display:block;height:440px;}
.fullSlide .hd {width:100%;position:absolute;z-index:1;bottom:16px;left:0;height:20px;}
.fullSlide .hd ul {text-align:center;}
.fullSlide .hd ul li {cursor:pointer;display:inline-block;*display:inline;zoom:1;width:15px;height:15px;padding:3px;overflow:hidden;background:url(../images/arr-b.png) no-repeat center center;line-height:999px;}
.fullSlide .hd ul .on {background:url(../images/arr-a.png) no-repeat center center;}
.fullSlide .prev,.fullSlide .next {display:block;position:absolute;z-index:1;top:50%;margin-top:-30px;left:8%;z-index:1;width:40px;height:60px;cursor:pointer;filter:alpha(opacity=50);opacity:0.5;display:none;}
.fullSlide .next {left:auto;right:8%;}

.iNotice{height:46px; overflow:hidden; border-bottom:1px solid #e5e5e5;}
.iNotice .tt{ font:14px/46px "Microsoft Yahei"; background:url(../images/icons/notice-arr.png) no-repeat 0 center; width:65px; padding-left:24px;margin-right:10px; display:inline; position:relative;}
.iNotice .tt i{ display:inline-block; width:1px; height:18px; background:#e5e5e5;  position:absolute; right:0; top:14px;}
.nlist{width:1000px; }
.nlist li{ line-height:30px; font-size:14px; vertical-align:middle; height:30px; overflow:hidden; padding:8px 0;}
.nlist li a{ color:#999;float: left;}
.nlist li span{ float:right;color:#888;}
.iNotice .mores{ color:#999; font:14px/46px "Microsoft Yahei";}
.iNotice .mores:hover{ color:#ff8a00;}


/*数据总览*/
.iHonor { height:139px; overflow:hidden;}
.iHonor ul li { float:left; width:250px; position: relative; padding:35px 0 33px 50px; }
.iHonor ul li img { transform:rotate3d(0, 1, 0, 0deg); transition:0.3s; }
.iHonor ul li:hover img { transform:rotate3d(0, 1, 0, 180deg); }
.iHonor ul li .title { position:absolute; top:49px; left:133px; }
.iHonor ul li h5 { font-size:20px; color:#444; }
.iHonor ul li p { font-size:14px; color:#999; margin-top:8px; }


/*专区代码*/
.iArea{ background:#f5f5f5 url(../images/aBg.jpg) repeat-x;}

.aTitle{ height:60px; line-height:60px;  padding-top:40px; overflow:hidden;}
.iArr{ display:inline-block; width:47px; height:47px; overflow:hidden; vertical-align:middle; margin-right:13px;}
.new-icons{ background:url(../images/icons/new-arr.png) no-repeat;}
.san-icons{ background:url(../images/icons/san-arr.png) no-repeat;}
.u-icons{ background:url(../images/icons/u-arr.png) no-repeat;}
.q-icons{ background:url(../images/icons/q-arr.png) no-repeat;}
.aTitle strong{font:26px/60px "Microsoft Yahei"; color:#444; height:60px; vertical-align:middle; padding-right:9px;}
.aTitle .ls{ display:inline-block; width:1px; height:25px; vertical-align:middle; overflow:hidden; background:#d0d0d0;}
.aTitle span{ color:#949494;vertical-align:middle;font:14px/60px "Microsoft Yahei"; padding-left:17px; height:60px; display:inline-block;}
.aTitle  .new-pic{ padding-left:62px;background:url(../images/icons/new-pic.png) no-repeat 2px center;}
.aTitle .mores{ float:right; color:#999;}

.aBox{ border:1px solid #ddd; height:216px; background:#fff;}
.aBox:hover{ -webkit-box-shadow:0 0 15px #d4d2d2; -ms-box-shadow:0 0 15px #d4d2d2; -o-box-shadow:0 0 15px #d4d2d2; -moz-box-shadow:0 0 15px #d4d2d2; box-shadow:0 0 15px #d4d2d2;}
.new-area{ width:316px; height:216px; float:left; overflow:hidden;}
.new-area img{width:316px; height:216px;}
.areaBox{ width:860px; height:201px; float:left;overflow:hidden; padding-top:15px;}
.areaBox h2{ height:64px;font:18px/64px "Microsoft Yahei"; height:64px; overflow:hidden; padding-left:20px;}
.areaBox h2 a{ color:#444;}
.areaBox h2 a:hover{ color:#ff8a00;}
.areaBox h3{ border-top:1px solid #ddd; height:52px; line-height:52px; font-size:14px; color:#666;}
.areaBox li{ border-left:1px dashed #ddd; float:left; height:74px; overflow:hidden; text-align:center; line-height:50px; color:#444;}
.areaBox li.rates{ width:220px; line-height:74px; color:#ff8a00; border-left:0;}
.areaBox li.deadline{ width:186px;}
.areaBox li.prices{ width:234px;}
.areaBox li p{ color:#b8b8b8; font-size:14px; line-height:20px; height:24px; margin-top:-6px;}
.areaBox li.btns{ width:216px;}
.areaBox li .invest-btn{ width:154px;}
.invest-btn{ color:#fff; background:#43a1e9; height:41px; line-height:41px; text-align:center; display:inline-block; border-radius:4px;}
.invest-btn:hover{filter:alpha(opacity=78); -moz-opacity:0.78; -khtml-opacity:0.78; opacity:0.78;}
.invest-over{ background:#c3c3c3; color:#fff;}

.area-list li{ border:1px solid #ddd; padding:14px 14px 14px 0; background:#fff; height:190px; cursor:pointer; overflow:hidden; margin-bottom:13px;}
.area-list li .area-info{ float:left; width:870px; height:190px; border-right:1px dashed #ddd;}
.area-list li h2{font:18px/66px "Microsoft Yahei"; padding-left:60px; height:60px; overflow:hidden;}
.area-list li h2 a{ color:#43a1e9;}
.area-list li dd{float:left; text-align:center; color:#444; line-height:64px;} 
.area-list li dd p{ color:#999; font-size:14px; line-height: 20px;}
.area-list li dd.rates{ width:220px; color:#ff8a00; line-height:102px; padding-left:15px;} 
.area-list li dd.deadline{ width:170px;} 
.area-list li dd.prices{ width:206px;}
.area-list li .area-cont{ float:right; width:306px;}
.area-list li .area-cont p{ padding:34px 25px 0; color:#444; font-size:14px; line-height:38px; overflow:hidden;}
.area-list li .area-cont .btns{ padding:20px 25px 0;  border-top:1px dashed #ddd; margin-top:20px;} 
.area-list li .area-cont .btns .invest-btn{ width:256px;}
.area-list li:hover{ -webkit-box-shadow:0 0 15px #d4d2d2; -ms-box-shadow:0 0 15px #d4d2d2; -o-box-shadow:0 0 15px #d4d2d2; -moz-box-shadow:0 0 15px #d4d2d2; box-shadow:0 0 15px #d4d2d2;}
/*进度条*/
.progressBox{width:256px;text-align:left;position:relative;z-index:66; margin:5px auto;}
.barbox{height:11px;line-height:11px;overflow:hidden;}
.barbox dd{float:left;}
.barbox dd.barline{width:80%;background:#f3f3f3;height:100%; line-height:100%; padding:0;overflow:hidden;display:inline;border-radius:6px;}
.barbox dd.barline div.charts{height:100%;overflow:hidden;background:#43a1e9;border-radius:6px;}
.progressValue{ position:absolute; left:82%; bottom:-5px; color:#666; font-size:14px;}

/*优计划*/
.u-area{ width:316px; float:left; height:375px; overflow:hidden;}
.u-area img{width:316px; height:375px;}
.uBox{ width:843px; float:right; height:373px;padding-right:20px; padding-left:20px; overflow:hidden; border:1px solid #ddd; background:#fff; border-left:0;}
.uBox li{ border-bottom:1px dashed #dcdcdc; padding:15px 0; cursor:pointer;}
.uBox li h2{ font-size:18px; height:60px; overflow:hidden; line-height:60px; margin-bottom:14px;}
.uBox li h2 a{ color:#444}
.uBox li h2 a:hover,.uBox li:hover h2 a{ color:#ff8a00}
.uBox li dd{ float:left; border-left:1px dashed #ddd; height:72px; overflow:hidden; text-align:center; line-height:42px; color:#444;}
.uBox li dd p{ font-size:14px; color:#999; margin-top:-3px; line-height: 20px;}
.uBox li dd.rates{ width:176px; border-left:0; line-height:72px; color:#ff8a00;}
.uBox li dd.deadline,.uBox li dd.prices{ width:146px;}
.uBox li dd.prices2{ width:190px;}
.uBox li dd.btns{width:154px; padding-left:20px;}
.uBox li dd.btns .invest-btn{ width:154px;}
.progress2{ height:7px; width:128px; padding:10px 0; margin:0;}
.progress2 .barbox{ height:7px; line-height:7px;}

/*债券转让*/
.iQuan{ background:#f8f8f8; border:1px solid #ddd; border-top:1px solid #43a1e9; position:relative; margin-top:22px;}
.iQuan h2{ background:#fff url(../images/icons/q-arr.png) no-repeat 24px center; height:62px; padding-left:74px; font-size:26px; line-height:62px; color:#3c3536;}
.iQuan p{ height:50px; line-height:50px; font-size:16px; padding-left:74px; color:#999;}

.q-links{ position:absolute; right:30px; top:26px;}
.q-links span{ display:inline-block; width:63px; height:63px; border:1px solid #6fb8ed; margin-right:5px; text-align:center; color:#6fb8ed; background:#fff;}
.q-links span i{ background:#6fb8ed url(../images/icons/q-arr2.png) no-repeat center 0; display:inline-block; width:100%; height:34px;}
.q-links span.q2 i{ background:#fda960 url(../images/icons/q-arr2.png) no-repeat center -34px;}
.q-links span.q2{ border:1px solid #fda960; color:#fda960;}
.q-links span.q3 i{ background:#51d498 url(../images/icons/q-arr2.png) no-repeat center -68px;}
.q-links span.q3{ border:1px solid #51d498; color:#51d498;}
.q-links .pay-btn{ margin-left:60px; position:relative; top:-16px;color:#43a1e9; border:1px solid #43a1e9; border-radius:18px; height:36px; display:inline-block; width:121px; text-align:center; font:16px/36px "Microsoft Yahei";}
.q-links .pay-btn:hover{box-shadow:0 2px 3px #98caec;}


.iNews{ margin-top:49px;}
.iHead{ height:54px;font:17px/54px "Microsoft Yahei"; color:#444442; border-bottom:1px solid #ddd; padding-right:22px;}
.iHead span{ padding:0 25px; float: left;}
.iHead .mores{ float:right; color:#8f8f8f; font-size:14px;}

.iMedia {width:825px; float:left;border:1px solid #ddd; background:#fff; height:299px;}
.nTop{ height:60px; line-height:24px; font-size:14px; color:#6a6a6a; width:80%;}
.nTop img{ float:left; width:110px; height:60px; margin-right:15px; margin-top:-5px;}
.iMedia .iCont,.iTrad .iCont{ padding:26px 28px; }
.iTrad .list{ display: block; height:200px;}
.iMedia .list li,.iTrad .list dd{background:url(../images/icons/news-arr.jpg) no-repeat 0 center; padding-left:32px; height:38px; line-height:38px; overflow:hidden; font-size:16px;}
.iMedia .list li.first-list{background:url(../images/icons/news-arr.jpg) no-repeat 0 14px; padding-left:32px; height:114px; line-height:38px; overflow:hidden; font-size:16px;}
.iMedia .list li a,.iTrad .list dd a{ color:#444;}
.iMedia .list li a:hover,.iTrad .list dd a:hover{color:#ff8a00;}
.iMedia .list li span,.iTrad .list dd span{ float:right; color:#999; font-size:14px;}

/*tab标签*/ 
.tab-bd li{display:none;}
.tab-bd li.thisclass{ display:list-item;}

.iRank,.iGuide{ float:right; width:355px;border:1px solid #ddd; background:#fff; height:299px; position:relative;}
.iRank .tab-hd li{ float:left; color:#adadad; cursor:pointer; height:54px; line-height:54px; font-size:14px; padding:0 14px;}
.iRank .tab-hd li.active{ color:#43a1e9;}
.iRank .iCont{ padding:12px 22px; }
.iRank .tab-hd{ width:144px; position:absolute; right:6px; top:0; height:54px;background:url(../images/icons/line.jpg) no-repeat 52px center;}
.iRank dl{height:43px; line-height: 43px;}
.iRank dl dt{font:14px/28px "Microsoft Yahei"; color:#333; border-bottom:1px solid #eee; padding-bottom:10px; float:left;}
.iRank dd{ float:left; line-height:43px; color:#444;}
.iRank dd .num{ height:26px; width:26px; display:inline-block; overflow:hidden; line-height:26px; text-align:center; vertical-align:middle;}
.iRank dd .num img{ vertical-align:top; width:26px; height:26px;}
.iRank .nums{ width:18%;}
.iRank .users{ width:35%}
.iRank .pices{ width:45%; text-align:center;}
.redDate dd{ color:#ff644a;}
.yDate dd{ color:#ff9018;}
.bDate dd{ color:#69bbfb;}


.iTrad{ width:825px; float:left;border:1px solid #ddd; background:#fff; height:299px; position:relative;}
.iTrad .tab-hd{ height:54px;font:17px/54px "Microsoft Yahei"; color:#444442; border-bottom:1px solid #ddd;}
.iTrad .tab-hd li{ float:left; cursor:pointer;}
.iTrad .tab-hd li span{padding:0 25px; position:relative;}
.iTrad .tab-hd li .mores{ display:none; position:absolute; right:22px; top:1px; font-size:14px;}
.iTrad .tab-hd li.active{ color:#43a1e9;}
.iTrad .tab-hd li.active span i{ display:inline-block; width:68px; height:2px; background:#43a1e9; position:absolute; top:37px; left:25px;}
.iTrad .tab-hd li.active .mores{ display:block;}

.iGuide .iCont{ padding-top:24px; width:310px; height:196px; overflow:hidden; margin:0 auto; }
.iGuide .flex-direction-nav a{opacity:0;filter:alpha(opacity=0);}

.iFriend .iHead{ border-bottom:1px solid #eee; height:60px; line-height:60px;}
.iFriend .flexslider{ padding:14px 60px 0;}
.iFriend .flexslider .slides img{ width:188px; margin:0 auto; height:70px;}


/*底部*/
.footer{ background:#454545; padding:37px 0 20px;}
.t-links{ width:475px; overflow:hidden;}
.t-links ul{ width:800px; zoom:1; overflow:hidden;}
.t-links li{ width:160px; float:left; padding-right:6px;}
.t-links dt{font:18px/28px "Microsoft Yahei"; color:#999; margin-bottom:5px;}
.t-links dd{font:13px/26px "Microsoft Yahei";}
.t-links dd a{ color:#999;}
.t-links dd a:hover{ color:#e2e2e2;}

.t-kefu{ width:245px;}
.t-kefu p{ color:#999; font-size:14px; line-height:32px;}
.t-kefu .p01{background:url(../images/icons/tels.png) no-repeat 0 center; font-size:18px; padding-left:30px;}
.t-kefu .p02{ color:#fff; font-size:36px; font-family:Arial; line-height:70px;}

.t-ewm{ width:400px;}
.t-ewm li{ text-align:center; width:33%; float:left;}
.t-ewm li p{ text-align:center; border: 0!important; color:#999;font:16px/26px "Microsoft Yahei"; margin-bottom:10px;}
.t-ewm li p span{ display: none;}
.t-ewm li img{ width:93px!important; height:93px!important;}

.footCopy{ border-top:1px solid #515151; text-align:center; color:#999; padding:29px 0 0;}
.footCopy p{ text-align:center; color:#999;font:13px/26px "Microsoft Yahei"; padding:5px 0;}
.footCopy img{ height:40px; margin:0 2px; border-radius:4px;}

/*框架*/
.bodyer{ background:#f6f6f6;}
.ban{ width:100%; height:128px; overflow:hidden; margin:0 auto 35px;}

.wrap-cont{ padding:40px 0 0;}

.prod-title{ height:70px; margin-top:4px; line-height:70px; color:#444; font-size:20px;}
.prod-title span{ font-size:14px; color:#999; padding:0 10px;}

/*分页样式*/
.invest_page{ text-align:center; padding:15px 0 62px;}
.invest_page a{ font-size:14px; display:inline-block; margin:0 2px; padding:0 15px; height:36px; line-height:36px; background:#f2f2f2; color:#4e4e4e; border-radius:2px;}
.invest_page a:hover,.invest_page a.current{ color:#fff; background:#43a1e9;}


/*栏目-banner*/
.banz{ height:128px; width:1200px; margin:0 auto 15px;}
.ban-new{ height:420px; width:100%; background:url(../images/ban04.jpg) no-repeat center top;}

.fund-top{ background:#fff; padding:0 20px; height:215px;}
.fund-top h1{ border-bottom:1px solid #f4f4f4; height:51px; line-height:51px; color:#444; font-size:16px;}
.num-top li{ float:left; border-left:1px solid #f4f4f4; text-align:center; height:85px;}
.num-top li p{color:#444; font-size:16px; line-height:28px;}
.num-top li .num{ font-size:16px; line-height:50px; margin-top:5px;}
.num-top li .num span{font-size:48px;}
.num-top li.n01{ border-left:0; width:352px;}
.num-top li.n02{ width:415px;}
.num-top li.n03{ width:390px;}

.ban-report{ height:179px; width:100%; background:url(../images/ban05.jpg) no-repeat center top;}
.report-top li.n01{ width:243px;}
.report-top li.n02{ width:275px;}
.report-top li.n03{ width:316px;}





/*合同*/
#agress{ width:1200px; height:720px;overflow:auto;}
.mainWhite { color:#4c4948; background:#fff;padding:30px 20px;}
.mainWhite h3{ font:bold 24px/40px "Microsoft Yahei"; color:#333; text-align:center; }
.mainWhite h4{ font:15px/26px "Microsoft Yahei"; color:#333;}
.mainWhite p {font:14px/26px "Microsoft Yahei"; color:#333; text-indent:28px;}
.mainWhite h5{font:bold 16px/28px "Microsoft Yahei"; color:#333;}

.agress-table{ background:#d7d7d5; border:1px solid #d7d7d5; border-collapse:collapse; margin:10px 0; }
.agress-table td,.agress-table th { background:#f8f5f0; border: 1px solid #bdbdbd; padding: 5px; line-height: 22px; font-size: 14px; text-align: center; }


/* 首页 右侧图标导航 */
.login{ background:#6f8bff; height:463px; padding:108px 0 125px;}
.login-img{ padding:33px 0 0 96px; width:590px; height:430px;}


.ico{ width:20px;height:20px; vertical-align:middle; padding-left:5px;}
.invest-new{ font-size:12px;color:#ff542c; margin-left: 5px; border:1px solid #ff542c; border-radius:6px; padding:1px 3px; font-style:normal;}
.color01{ color:#ff8a00;}
.color02{ color:#43a1e9;}
.color03{ color:#444;}
.color04{ color:#999;}














